@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Direccion de la Fonts descargadas
*/
@font-face {
    font-family: "Koulen";
    src: url("../../public/fonts/Koulen.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("../../public/fonts/Lato.ttf") format("truetype");
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 2s ease-in-out;
}

/*
    Fondos de la Aplicacion
*/

#fondo {
    background: linear-gradient(rgb(75, 0, 0), rgba(0, 0, 0, 1));
}

/*
    Formularios
*/

nav {
    z-index: 10;
}

input::placeholder {
    color: white;
    font-family: koulen;
  }

.div-oscuro {
    background-color: rgba(0, 0, 0, 0.5);
    padding: auto;
    margin: auto;
    z-index: -3;
}

