@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Direccion de la Fonts descargadas
*/
@font-face {
    font-family: 'Koulen';
    src: url('../../public/fonts/Koulen.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('../../public/fonts/Lato.ttf') format('truetype');
}


/*
    Fondos de la Aplicacion
*/

#fondoHome {
    background-color: transparent;
    background-size: cover;
    /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat;
    /* Evita la repetición del fondo */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("fondoHome.jpg");
}

#fondoArticulo {
    background-color: transparent;
    background-size: cover;
    /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat;
    /* Evita la repetición del fondo */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("fondoArticulo.jpg");
}

#fondoNoticia {
    background-color: transparent;
    background-size: cover;
    /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat;
    /* Evita la repetición del fondo */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("fondoNoticias.jpg");
}

#fondoNosotros {
    background-color: transparent;
    background-size: cover;
    /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat;
    /* Evita la repetición del fondo */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("fondoNosotros.jpg");
}

#fondoUser {
    background-color: transparent;
    background-size: cover;
    /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat;
    /* Evita la repetición del fondo */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("fondoUser.jpg");

}


.div-oscuro {
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
    padding: auto;
    margin: auto;
  }
